<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Compras</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <!-- MENU LATERAL -->
      <div class="sidebar">
        <h2>Menu</h2>
        <a href="/">Início</a>
        <a th:href="@{/produtos}">Produtos</a>
        <a href="/categorias">Categorias</a>
      </div>

      <!-- CONTEÚDO PRINCIPAL -->
      <div class="content">
        <h1>Bem-vindo ao Sistema de Compras</h1>
        <p>Visão geral de produtos e categorias cadastrados.</p>

        <h2>Produtos</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Preço</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="p : ${produtos}">
              <td th:text="${p.id}"></td>
              <td th:text="${p.titulo}"></td>
              <td th:text="${p.preco}"></td>
              <td
                th:text="${p.categoria != null ? p.categoria.nome : 'Sem categoria'}"
                
              ></td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li th:each="cat : ${categorias}" th:text="${cat.nome}"></li>
        </ul>
      </div>
    </div>
  </body>
</html>
